<h1>メニュー編集</h1>
<%= form_for(@menu, url: menu_path) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div>
    <%= f.label :name, 'メニュー名' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
