<h1>メニュー一覧</h1>
<table>
  <tr>
    <th>メニュー名</th>
    <th>価格（円）</th>
    <th>原価（円）</th>
  </tr>
  <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.name %></td>
      <td><%= menu.price %></td>
      <td><%= link_to '詳細', menu_path(menu) %></td>
      <td><%= link_to '編集', edit_menu_path(menu) %></td>
      <td><%= button_to '削除', menu_path(menu), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %></td>
    </tr>
  <% end %>
</table>
