<h1>レシピ編集</h1>
<%= form_for(@recipe, url: recipe_path) do |f| %>
  <div>
    <a>食材名</a><%= @recipe.food.name %>
  </div>
  <div>
    <%= f.label :gram, 'グラム数' %>
    <%= f.number_field :gram %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
