<h1>マイページ</h1>
<%= form_tag(user_search_path, :method => "get") do %>
  <%= date_select(:date, :year_and_month, discard_day: true) %>
  <%= submit_tag "表示する" %>
<% end %>
<% if @view == 'index' %>
  <b>累計データ</b>
<% else %>
  <%= "#{params[:date]['year_and_month(1i)']}年#{params[:date]['year_and_month(2i)']}月度データ" %>
<% end %>
<% if @orders.blank? %>
  <div>データがありません</div>
<% else %>
  <table>
    <tr>
      <th>メニュー名</th>
      <th>価格</th>
      <th>原価率</th>
      <th>販売数</th>
      <th>売上高</th>
      <th>原価</th>
      <th>粗利益</th>
      <th>構成比</th>
    </tr>
    <% output_sum = 0 %>
    <% sales_sum = 0 %>
    <% cost_sum = 0 %>
    <% profit_sum = 0 %>
    <% @orders.group(:menu_id).each do |order| %>
      <tr>
        <td><%= order.menu.name %></td>
        <td>¥<%= order.menu.price.to_formatted_s(:delimited) %></td>
        <td><%= (order.menu.menu_cost / order.menu.price.to_f * 100).round(2) %>%</td>
        <td><%= output = @orders.output_sum(order.menu) %></td>
        <td>¥<%= (sales = @orders.output_sum(order.menu) * order.menu.price).to_formatted_s(:delimited) %></td>
        <td>¥<%= (cost = @orders.output_sum(order.menu) * order.menu.menu_cost).to_formatted_s(:delimited) %></td>
        <td>¥<%= (profit = @orders.output_sum(order.menu) * order.menu.price - @orders.output_sum(order.menu) * order.menu.menu_cost).to_formatted_s(:delimited) %></td>
        <td><%= @orders.occupancy(order.menu) %>%</td>
      </tr>
      <% output_sum += output %>
      <% sales_sum += sales %>
      <% cost_sum += cost %>
      <% profit_sum += profit %>
    <% end %>
    <tr id="goukei">
      <td>合計</td>
      <td></td>
      <td><%= (cost_sum / sales_sum.to_f * 100).round(2) %>%</td>
      <td><%= output_sum %></td>
      <td>¥<%= sales_sum.to_formatted_s(:delimited) %></td>
      <td>¥<%= cost_sum.to_formatted_s(:delimited) %></td>
      <td>¥<%= profit_sum.to_formatted_s(:delimited) %></td>
      <td></td>
    </tr>
  </table>
<% end %>
