<h1>マイページ</h1>
<p>理論原価率.*詳細ページ,ABC分析,単価売上構成比</p>
<table>
  <tr>
    <th>メニュー名</th>
    <th>価格</th>
    <th>原価率</th>
    <th>販売数</th>
    <th>売上高</th>
    <th>原価</th>
    <th>粗利益</th>
    <th>構成比</th>
  </tr>
  <% output_sum = 0 %>
  <% sales_sum = 0 %>
  <% cost_sum = 0 %>
  <% profit_sum = 0 %>
  <% @orders.group(:menu_id).each do |order| %>
    <tr>
      <td><%= order.menu.name %></td>
      <td>¥<%= order.menu.price.to_formatted_s(:delimited) %></td>
      <td><%= (order.menu.menu_cost / order.menu.price.to_f * 100).round(2) %>%</td>
      <td><%= output = @orders.output_sum(order.menu) %></td>
      <td>¥<%= (sales = @orders.output_sum(order.menu) * order.menu.price).to_formatted_s(:delimited) %></td>
      <td>¥<%= (cost = @orders.output_sum(order.menu) * order.menu.menu_cost).to_formatted_s(:delimited) %></td>
      <td>¥<%= (profit = @orders.output_sum(order.menu) * order.menu.price - @orders.output_sum(order.menu) * order.menu.menu_cost).to_formatted_s(:delimited) %></td>
      <td><%= @orders.occupancy(order.menu) %>%</td>
    </tr>
    <% output_sum += output %>
    <% sales_sum += sales %>
    <% cost_sum += cost %>
    <% profit_sum += profit %>
  <% end %>
  <tr>
    <th>合計</th>
    <td></td>
    <td><%= (cost_sum / sales_sum.to_f * 100).round(2) %>%</td>
    <td><%= output_sum %></td>
    <td>¥<%= sales_sum.to_formatted_s(:delimited) %></td>
    <td>¥<%= cost_sum.to_formatted_s(:delimited) %></td>
    <td>¥<%= profit_sum.to_formatted_s(:delimited) %></td>
    <td></td>
  </tr>
  
</table>
