<h1>出数管理</h1>
<%= form_tag(order_search_path, :method => "get") do %>
  <%= date_select(:date, :year_and_month, discard_day: true) %>
  <%= submit_tag "表示する" %>
<% end %>
<% if @view == 'index' %>
  <b>トータル出数</b>
<% else %>
  <%= "#{params[:date]['year_and_month(1i)']}年#{params[:date]['year_and_month(2i)']}月" %>
<% end %>
<table>
  <tr>
    <th>メニュー名</th>
    <th>出数</th>
    <% if @view == 'search' %>
      <th></th>
    <% end %>
  </tr>
  <% @menus.each do |menu| %>
    <tr>
      <% if menu.name.present? %>
        <td>
          <%= menu.name %>
        </td>
      <% end %>
      <% if @orders.present? %>
        <td>
          <%= @orders.where(menu_id: menu.id).sum { |hash| hash[:output] } %>
        </td>
        <% if @view == 'search' %>
          <td>
            <%= link_to '編集', edit_order_path(@orders.where(menu_id: menu.id).first.id) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<%= link_to '月間出数新規登録', new_order_path %>
