<div class="box">
  <div class="box-inner">
    <h1>商品編集</h1>
    <%= form_for(@food, url: food_path) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <dl>
        <dt><%= f.label :name, '食材名' %></dt>
        <dd><%= f.text_field :name %></dd>
      </dl>
      <dl>
        <dt><%= f.label :unit_price_per_kilo, 'キログラム単価' %></dt>
        <dd><%= f.number_field :unit_price_per_kilo %></dd>
      </dl>
      <div class="form_btn">
        <%= f.submit class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
