<h1>商品編集</h1>
<%= form_for(@food, url: food_path) do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= f.label :name, '食材名' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :unit_price_per_kilo, 'キログラム単価' %>
    <%= f.number_field :unit_price_per_kilo %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
