<!DOCTYPE html>
<html>
  <head>
    <title>CostManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <h1>CostManagement</h1>
          <% if user_signed_in? %>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <li>概要</li>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="wrapper">
      <% if current_user.present? %>
        <div class="side">
          <ul>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '食材登録', new_food_path %></li>
            <li><%= link_to '食材一覧', foods_path %></li>
            <li><%= link_to 'メニュー登録', new_menu_path %></li>
            <li><%= link_to 'メニュー一覧', menus_path %></li>
            <li><%= link_to '月間出数登録', orders_path %></li>
          </ul>
        </div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
